############################################
# OS
############################################
.DS_Store
Thumbs.db
Desktop.ini

############################################
# IDEs
############################################
.vs/
.idea/
.vscode/
*.user
*.suo
*.rsuser

############################################
# .NET BUILD 
############################################
**/bin/
**/obj/
**/Debug/
**/Release/

############################################
# NuGet
############################################
project.assets.json
project.nuget.cache
*.nuget.*
*.nupkg
*.snupkg

############################################
# ASP.NET
############################################
appsettings.Production.json
appsettings.Staging.json
**/secrets.json

############################################
# Logs
############################################
*.log
Logs/

############################################
# Docker
############################################
**/obj/Container/

############################################
# Temp
############################################
*.tmp
*.bak
*.swp
